* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* background-image: url(../../public/images/Diapositiva1.JPG); */
    background-size: cover;
}
.background-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.slide {
    background-image: url(../../public/images/Diapositiva1.JPG); 
    width: 100vw;         
    height: 100vh;          
    background-size: cover; 
    background-position: center;
    animation: animate 15s infinite;
}
@keyframes animate {
    20%{
        background-image: url(../../public/images/Diapositiva2.JPG);
        background-size: cover;
    }
    40%{
        background-image: url(../../public/images/Diapositiva3.JPG);
        background-size: cover;
    }
    60%{
        background-image: url(../../public/images/Diapositiva4.JPG);
        background-size: cover;
    }
    
    80%{
        background-image: url(../../public/images/Diapositiva6.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../../public/images/Diapositiva1.JPG);
        background-size: cover;
    }
}

.container {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 1);
    height: 600px;
    max-width: 900px;
    transition: all 0.5s ease;
    margin: 200px;
    border: solid thin black;
}
/*cambiar color*/
.overlay {
    padding: 20px;
    width: 45%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #33423a;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sign-in {
width: 100%;
padding: 0 30px;
}
.sign-in h2 {
    font-size: 3.5rem;
}
.sign-in p {
    margin: 15px;
    color: white;
}

.sign-in button {
    background-color: transparent;
    outline: none;
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color .4s ease;
    font-size: 1.2rem;
}

.sign-in button:hover {
    background-color: coral;
    border: none;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1); 
}
.form-information {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60%;
    background-color: coral;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.login .form-information-child {
    font-size: 1.2rem;
}

.login .form-information-child h2 {
    font-size: 3rem;
}

.login .icon i {
    font-size: 2rem;
    padding: 15px;
}

.login #sign-up-form label {
    font-size: 1.2rem;
    padding: 15px;
}

.login #sign-up-form label input {
    font-size: 1.2rem;
    padding: 5px;
}

.login button[name="iniciar_sesion"] {
    font-size: 1.2rem;
    padding: 15px;
}
.form-information-child {
    padding: 0 30px;
}
.form-information-child h2 {
    color: #333;
    font-size: 2.5rem;
}
.form-information-child p {
    color: #555;
}
.icon {
    margin: 15px 0;
}
.icon i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: black;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border: solid thin black;
    font-size: 1.5rem;
}
.icon i:hover {
    background-color: #33423a;
    color: white;
}
#sign-up-form {
    margin: 30px 0 0 0;
    padding: auto;
    font-size: 1.2rem;
}
#sign-up-form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}
#sign-up-form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    font-size: 1.2rem;
}
#sign-up-form button {
    background-color: transparent;
    outline: none;
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    transition: background-color .4s ease;
    font-size: 1rem;
}
#sign-up-form button:hover {
    background-color: #33423a;
    border: none;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1); 
}
.hide {
    position: absolute;
    transform: translateY(-300%);
}

/*RESPONSIVE */

@media screen and (max-width:580px) {
    html {
      font-size: 10px;
    }
    .container {
        height: auto;
        flex-direction: column;
    }
    .overlay {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0; 
    }
    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}
.admin-button {
    position: absolute;
    top: 20px; /* Ajustar según sea necesario */
    right: 20px;
    z-index: 1000;
}

.admin-button a {
    text-decoration: none;
    background-color: #33423a; /* Consistente con el formulario */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid 2px black;
    transition: all 0.4s ease;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 1);
}

.admin-button a:hover {
    background-color: #33423a; /* Verde oscuro */
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    border: none;
}